<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyShoppingController as tobuyctrl'>
     <h2>To Buy:</h2>
     <ol>
      <li ng-repeat="item in tobuyctrl.items">
         {{ item.quantity }} of {{ item.name }}
         <button ng-click="tobuyctrl.buy_Item($index);">Buy Item</button>
       </li>
     </ol>
     <div ng-if="tobuyctrl.items.length==0" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='AlreadyBoughtShoppingController as boughtctrl'>
     <h2>Already Bought:</h2>
     <ol>
       <li ng-repeat="item in boughtctrl.items">
         {{ item.quantity }} of {{ item.name }}
         <button ng-click="boughtctrl.unbuy_Item($index);">Unbuy Item</button>
       </li>
     </ol>
     <div ng-if="boughtctrl.items.length==0" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>
</body>
</html>
